/* GLOBAL RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* FOLLOW BUTTON */
.cta {
    display: block;
    width: 100%;
    padding: 14px 0;
    background: #FCD50C;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.2s;
    text-align: center;
}

.cta:hover {
    background: #e5c20b;
}

/* EMAIL FORM */
.email-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* EMAIL INPUT */

.email-form input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* این خط مشکل را حل می‌کند */
}


/* SUBSCRIBE BUTTON */
.email-form button {
    width: 100%;
    padding: 12px;
    background: #FCD50C;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.email-form button:hover {
    background: #e5c20b;
}

.email-form button:hover {
    background: #e5c20b;
}

/* SECTIONS */
.section {
    padding: 70px 20px;
    max-width: 900px;
    margin: auto;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 250px;
    background: #f5f5f5;
    padding: 25px;
    border-radius: 8px;
    border-left: 6px solid #37B5A7;
}

.card h3 {
    margin-top: 0;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 25px;
    background: #f5f5f5;
    margin-top: 40px;
}


